<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definitions start -->
	<bean id="greet" class="example.spring.core.HElloService" />
	<bean id="greet2" class="example.spring.core.WelcomeService" />
	<bean id="greet3" class="example.spring.core.HElloService" />
	<bean id="greet4" class="example.spring.core.CricketMatchResult">
		<!-- for depndancy (properties and fileds -->
		<property name="winningTeam" value="INDIA"/>
		<property name="loseingTeam" value="PAKISTAN"/>
		<property name="winningMargin" value="6"/>
		<property name="winningType" value="Runs"/>

	</bean>
	<!--  
	<bean id="greet5" class="example.spring.core.CricketMatchResult">
	<constructor-arg value="Australia"/>
	<constructor-arg value="England "></constructor-arg>
	<constructor-arg value="35"></constructor-arg>
	<constructor-arg value="runs"></constructor-arg>
	</bean>-->
	<bean id="greet6" class="example.spring.core.CricketMatchResult">
	<constructor-arg value="Australia" index="1"/>
	<constructor-arg value="England " index="2"/>
	<constructor-arg value="35" index="0"/>
	<constructor-arg value="runs" index="3"/>
	</bean>
 

 
</beans>
